* {
    padding: 0;
    margin: 0;
} 

body {
background: #fff url(images/bg.jpg) repeat-x top;
font-family: "Trebuchet MS" Verdana, Arial, sans-serif;
font-size: 12px;
color: #333333;
line-height: 24px;
}

a {
	color: #CB392C;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrap {
width: 1024px;
margin: 0 auto;
}


#header {
height: 100px;
}
#header h1 {
font-size: 30px;
font-weight: 100;
letter-spacing: -3px;
padding: 25px 0 0 0px;
}
#header h1 a {
text-decoration: none;
color: #B7271F;
}
#header h1 a:hover {
text-decoration: none;
color: #000;
}
#header h2 {
color: #666;
font-size: 17px;
font-weight: 100;
padding: 0 0 0 1px;
}


#menu {
height: 30px;
line-height: 30px;
}
#menu ul {
padding-left: 2px;
list-style-type: none;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
color: #fff;
padding: 0 20px 0 0;
text-decoration: none;
font-weight: 600;
}
#menu ul li a:hover {
color: #fff;
text-decoration: underline;
}

#content {
margin: 20px 0;
line-height: 17px;
}

.left {
float: left; 
width: 655px;
text-align: justify;
background-color: #1a66b2;
}
.left h2 {
color: #B7271F;
font-size: 24px;
letter-spacing: -3px;
font-weight: 100;
padding : 10px 0 15px 0;
}
.left h2 a {
color: #B7271F;
}
.left h2 a:hover {
color: #333;
}

.right {
margin-top: 10px;
float: right;
width: 160px;
padding: 10px;
background: #FFDDDD;
border: 1px solid #990000;
}
.right h2 {
font-size: 12px;
color: #555;
padding: 5px 0 2px 0;
}
.right ul {
list-style-type: none;
padding: 5px 0 10px 0;
}
.right ul li {
}
.right ul li a {
display: block;
border-bottom: 1px solid #999;
color: #666;
padding: 2px 10px;
}
.right ul li a:hover {
color: #333;
text-decoration: none;
}

#footer {
font-size: 11px;
color: #999;
text-align: center;
padding: 5px 0 10px 0;
margin-top: 50px;
border-top: 10px solid #ddd;
}
#footer a { 
color: #999;
}
#footer a:hover {
color: #333; 
text-decoration: underline; 
}

#text_sms_summary,#sms_header,#sms_header_online,#sms_header_online_text_eng,#sms_header_online_text_thai,#sms_logo,#sms_header_online_text,#sms_logo,#sms_cradit_button{
	color: #006abb;
	float: left;
}

#text_sms_summary{
	color: #ffffff;
	height: 22px;
	width:250px;
	clear: both;
	
}

#sms_header_online,#sms_header_online_text_eng,#sms_header_online_text_thai,#sms_header_online,#sms_logo{
	width: 270px;
	background-color: #ecf1ec;}

#sms_header_online{
	margin: 23px 0px 10px 10px;
	padding: 10px;
    width:270px;

	
}
#sms_header{width:655px;height: 101px;	background:#1a66b2;}

#sms_header_online_text_eng,#sms_header_online_text_thai{
font-size:18px
}	

#sms_logo{background-color: #1a66b2;padding-top:-20px;width:306px;height:101px}


#sms_cradit_button{width:149px;background:#FFFFFF;height:47px;padding-top: 30px;;padding-left: 200px;}

.sms_button,.sms_button_credit  {
	-moz-box-shadow:inset 0px 0px 0px -1px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px -1px #ffffff;
	box-shadow:inset 0px 0px 0px -1px #ffffff;
	background-color:#ffde15;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#6d6c72;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;


}

.sms_button_credit{margin-right: 140px;}

.sms_button:hover {
	color:#0a3c6d;
    background-color:#fff715;
	
}.sms_button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

.box_sms_header{
border-top-left-radius:20px;
-khtml-border-radius-topright:20px;
-moz-border-radius-topright:20px;

}

.newline{clear:both;}
#newline{clear:both;}

#sms_summary_header{
	
	
	border-top-left-radius:20px;
	border-top-right-radius:20px;

	
	-khtml-border-radius-topright:20px;
	-khtml-border-radius-topleft:20px;

	
	
	-moz-border-radius-topright:20px;
	-moz-border-radius-topleft:20px;

}


#sms_step_1,#sms_step_2,#sms_step_4{
	background-color:#8198cc;
	
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	
	-khtml-border-radius-topright:20px;
	-khtml-border-radius-topleft:20px;
	-khtml-border-radius-bottomright:20px;
	-khtml-border-radius-bottomleft:20px;
	
	
	-moz-border-radius-topright:20px;
	-moz-border-radius-topleft:20px;
	-moz-border-radius-bottomright:20px;
	-moz-border-radius-bottomleft:20px;
	 width:615px;
	 height:200px;

	 margin: 20px;
}

#sms_step_4{
 height:100%;
 margin-top: 10px;
}

#sms_step_2{
	
	height: 350px;
	margin-top: 0px;
	
	
	}


#sms_step1_icon{
	  float:left;
    padding-left:20px;
	width:100px;
}

#sms_step4_group,#sms_step3_calendar,#sms_step3_group,#sms_step2_sms_counter,#sms_step1_header,#sms_step1_detail_1,#sms_step1_group,#sms_step2_group,#sms_step1_detail_1,#sms_step1_detail_2,#sms_step1_select_1,#sms_step1_select_2{
  float:left;
  font-size:23px;
  color: #ffffff;
  
}
#sms_step2_group{
	width: 400px;
	height: 380px;
}

#sms_step3_group{
	
		width: 400px;
}

#sms_step4_button{
	padding-top: 10px;
	
}
#sms_step4_group{
	
		width: 430px;
	
}
#sms_step1_header{
	  padding-top: 20px;
}

#sms_summary_text_send,#sms_summary_text,#sms_summary_text_status_header,#sms_summary_text_status_detail,#text_sms_value,#sms_step1_detail_1,#sms_step1_detail_2,#sms_step1_select_1,#sms_step1_select_2,#sms_step1_button,#sms_step2_community,#sms_step2_sms_counter{
  float:left;
  font-size:18px;
  padding-top:20px;

  
}

#sms_summary_text_status_header,#sms_summary_text{
width:120px;
color:#FFFFFF;
padding: 10px


}

#sms_summary_text_status_header{
padding-right:20px;
}

#sms_summary_text_status_detail{
width:400px;
color:#FFFFFF;
padding-top: 10px;
}



#sms_step2_community,#sms_step2_sms_counter,#sms_step2_detail_1,#sms_step2_detail_2{
	  float:left;
	 font-size:18px;
     padding-top:10px;
     padding-left:10px;
}

#text_sms_summary_value{
	float: left;
	height: 24px;

	width:100px
	
}

.sms_text_value_data{width: 30px}
.sms_step3_calendar_style,.userprofile_text{

	width: 170px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
    
	color: #1a66b2;
	font-size: 14px;
	background-color:ffffff;
	overflow: hidden;

	border:2px solid #dcdcdc;
	border-color: #1a66b2;
	
}
.userprofile_text{
	width: 300px;
}

#userprofile_text{

	width: 300px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
    
	color: #1a66b2;
	font-size: 14px;
	background-color:ffffff;
	overflow: hidden;

	border:2px solid #dcdcdc;
	border-color: #1a66b2;
	
}
.sms_select_style{
	position: absolute;
	width: 170px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
    
	color: #1a66b2;
	font-size: 14px;
	background-color:ffffff;
	overflow: hidden;

	border:2px solid #dcdcdc;
	border-color: #1a66b2;
}
.sms_step2_textarea{

	float:left;    
	color: #1a66b2;
	font-size: 14px;
	background-color:ffffff;
	overflow: hidden;

	border:2px solid #dcdcdc;
	border-color: #1a66b2;
	width: 450px;
	height: 200px;

}
	
#sms_step1_button{
	
	padding-top:60px;
	padding-left:130px;
}
#sms_step1_select_2{  padding-left:10px;
}

.sms_step3_calendar{padding-left:10px;}


#sms_step4_row_head{clear:both;width: 500px ;background-color: #8198cc;}
#sms_step4_column1_head,#sms_step4_column2_head,#sms_step4_column3_head,#sms_step4_column4_head{
	float:left; width:50px;font-size:15px;background-color:#8198cc;height:16px;color:#ffffff   }
#sms_step4_column2_head{width:80px ;  }
#sms_step4_column3_head{ width:200px ;}
#sms_step4_column4_head{width:100px;}



#sms_step4_row{clear:both;width: 500px ;background-color:#b2bddd;}
#sms_step4_column1,#sms_step4_column2,#sms_step4_column3,#sms_step4_column4{
	float:left; width:50px;font-size:15px;background-color:#b2bddd;height:16px;color:#6d6d7f   }
#sms_step4_column2{width:80px ;  }
#sms_step4_column3{ width:200px ;}
#sms_step4_column4{width:100px;}

#sms_step4_row2{clear:both;width: 500px ;background-color:#8198cc;}
#sms_step4_column12,#sms_step4_column22,#sms_step4_column32,#sms_step4_column42{
	float:left; width:50px;font-size:15px;background-color:#8198cc;height:16px;color:#6d6d7f   }
#sms_step4_column22{width:80px ;  }
#sms_step4_column32{ width:200px ;}
#sms_step4_column42{width:100px;}

#sms_summary_group,#sms_summary_group2{background:#1a66b2;padding:10px 10px 10px 10px;margin-top:10px;margin-left:120px;width:450px;height:130px;color:#ffffff;font-size: 20px;}

#sms_summary_group2{
margin-left:75px;
}

#text_sms_summary_1,#text_sms_summary_2,#text_sms_summary_3{
color:#FFFFFF;
background:#1a66b2;
border:none;

}

#sms_summary_header{
background:#FFFFFF;
font-size:20px;
color:#1965b1;
padding: 10px;

}

#sms_summary_text_send{
word-wrap:break-word;
background:#bec9e5;
color:#5980c3;
padding:0px 10px 10px 10px;
width:570px;
margin: 0px 10px 10px 10px;


}

#sms_step1_select_1{
   padding-left:30px;
}

