<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">haak2011</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/haaksquare_db</property>
        <property name="hibernate.connection.username">haaksquare_db</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="com/haak/haaksq/autogen/BlogNews.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityWhatNearBy.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityMail.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VUserLoginP.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/CommunityOpportunities.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstCommunity.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstRole.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VUserLogin.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/CommunityGroup.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityWhatNearByPicture.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstAdFileType.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstMenu.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityWhatnearbyPicture.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstAd.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstProvince.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunitySaleRent.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstOppSubCategory.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstWorklistType.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstCommunityGroup.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityWhatNearByDetail.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstTumbol.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VAdPublic.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/AttachFile.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/CommunityAmenities.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/UserProfile.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/CommunityDashBoard.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/Contacts.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstPackage.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MasUser.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/UserRole.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VBoardStructure.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/RoleModule.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstLiftstyleType.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/Board.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityDetail.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/Worklist.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/CommunitySaleRent.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VModue.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstAmenities.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityAttachFile.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MenuModule.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstWorklistSubject.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityGallary.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunitySaleRentPicture.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/CommunityMail.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VModule.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/PackageMenu.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstCommunityType.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstSaleRent.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VContractFormSubject.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityLifestyleDetail.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstWorklistSubType.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstLifestyle.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VAd.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/RoleModuleAction.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstFileType.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstActivityType.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/CommunityNew.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/CommunityLifestyle.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/RoleAction.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityLifestyle.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunitySaleRentDetail.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityAmenities.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/ModulePackage.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VMenu.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/Community.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VMenuModule.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityWhatnearby.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityLifestylePicture.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityDownload.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VInboxWorklist.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityWhatnearbyDetail.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstAmphoe.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityNew.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VUserAction.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunity.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/AdCommunity.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VWorklist.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstOppCategory.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/Activity.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstPosition.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityGallaryDetail.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommnunityOpportunities.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/Address.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VBoard.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstSubject.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstAction.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/ModuleActivity.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VPackage.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityNewPicture.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityAbout.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/ActivityAction.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/VCommunityDashBoard.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstLanguage.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstModule.hbm.xml" />
        <mapping resource="com/haak/haaksq/autogen/MstWorklistStatus.hbm.xml" />
    </session-factory>
</hibernate-configuration>
